h1, h2, h3 {
  color: pink;
}
.destacado {background-color: yellow;
font-style: italic;
padding: 10px;
font-size: 2.5em;
}

title { font-size: 2.5em;
color: darkblue;
border: 1px solid black;
}
h1 { font-size: 2rem; 
font-style: italic;
text-align: center;}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  text-align: center;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 8px;
  background-color: blueviolet;
  text-align: center;
  vertical-align: middle;
}

tr:nth-child(even) td {
  background-color: palevioletred;
}

td img {
  width: 190px;
  height: 190px;
  border-radius: 8px;
  display: block;
  margin: 0 auto 8px;
}

